@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap");

$color-light-1: #f6eede;
$color-light-2: #f9f3e9;
$color-light-3: #d1c3ac;
$color-light-4: #a59782;
$color-accent-1: #a8fde8;
$color-accent-2: #34e8bb;

:root {
  --color-light-1: #{$color-light-1};
  --color-light-2: #{$color-light-2};
  --color-light-3: #{$color-light-3};
  --color-light-4: #{$color-light-4};
  --color-accent-1: #{$color-accent-1};
  --color-accent-2: #{$color-accent-2};
}

* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-light-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif !important;
  color: $color-accent-2;
}
